.title-primary {
  --background: var(--ion-color-movies-primary);
  --color: #ffffff;
}

.title-secondary {
  --background: var(--ion-color-movies-secondary);
  --color: #ffffff;
}

ion-icon {
  text-align: right;
  float: right;
  cursor: pointer;
}
