<ion-card class="movie">
  <ion-card-header>
    <ion-card-title>{{movie.title}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>

    <img [src]="'https://www.themoviedb.org/t/p/w220_and_h330_face'+movie.poster_path" alt="">

    <div class="movie__percent"></div>
    <ion-card-subtitle>{{movie.release_date}}</ion-card-subtitle>

    <ion-label>{{movie.overview}}</ion-label>

    <div class="movie__buttons">
      <ion-button class="btn--success">
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-button>
      <ion-button class="btn--primary" (click)="downloadMovie(movie)">
        <ion-icon name="download-outline"></ion-icon>
      </ion-button>
    </div>

  </ion-card-content>
</ion-card>