<app-header title="Login" class="primary" [isBack]="false" [isExit]="false">
</app-header>

<ion-content padding>

  <div class="login-wrapper" [formGroup]="loginForm">
    <img class="icon login-wrapper__image" src="assets/icon/login.jpg" alt="" />

    <div class="login-wrapper__form">
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input formControlName="email" color="dark" type="email" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <div class="login-wrapper__form-password">
          <ion-input [type]="passwordType" formControlName="password" color="dark" type="password" name="password">
          </ion-input>
          <ion-icon [name]="iconPasswordName" color="derm13" item-end (click)="togglePassword()">
          </ion-icon>
        </div>
      </ion-item>

      <div class="login-wrapper__bottom">
        <ion-label color="derm" id="msg_error" style="display: none">
          Credenciales incorrectas</ion-label>

        <ion-button class="btn btn--success" [disabled]="loginForm.invalid" (click)="login()">
          Ingresar
        </ion-button>
        <ion-button class="btn btn--primary" (click)="signin()">
          Registro
        </ion-button>
      </div>


    </div>
  </div>

</ion-content>